.players-image {
    width: 100px;
    height: 100px;
    border:auto;
  }
  
  .players-tile {
    display: inline-block;
   
    color: #282c34;
    padding: 0 15px 20px;
    margin: 10px;
    border-style: solid;
    border-radius: 10%;
  }
  .players-info{
      width: auto;
      display:block;
    color:whitesmoke;
      border: black;
  }
  .players-name {
    display: block;
    font-size: 14px;
    text-align: center;
  }
  
  .players-price{
    display: block;
    font-size: 14px;
    text-align: center;
  }
  .players-button{
      background:#C5D6D6;
      border-color: #3E4F4F;
      border-radius:15%;
      border-width: 0.6 vh;
      font-size: 0.9rem;
  }
 